<div id="header" {% if page.group == "home" %} class="fixed" {% endif %}>
	<div class="ui padded page centered grid" >
		<div class="twelve wide column">		

			<div class="logo">
				<a href="/">
					<img class="ui  image" src={{ site.logo | prepend: site.baseurl }}>
				</a>				
			</div>	

			<div class="ui right floated menu">
					<div class="item">
						<div class="ui transparent icon input"> 
							<input placeholder="Search..." type="text">
							<i class="search link icon"></i>
						</div>
					</div>
			</div>

			<div class="ui large left floated secondary menu">						

				<a href="{{ BASE_PATH }}/" class="
					{% if page.group == "home" %} active {% endif %}
				item">Home</a>							

				{% assign pages_list = site.pages %}				
				{% for node in pages_list %}				    
					{% if node.title != null %}						
						{% if page.url == node.url %}
							<a href="{{ BASE_PATH }}{{node.url}}" class="active item">{{node.title}}</a>	
						{% else %}
							<a href="{{ BASE_PATH }}{{node.url}}" class="item">{{node.title}}</a>
						{% endif %}						
					{% endif %}
				{% endfor %}
				{% assign pages_list = nil %}				
			</div>

		</div>
	</div>
</div>

