<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>    
    {% include header.html %}
    <div id="content">
    	<div class="ui padded page centered grid">
    		<div class="eleven wide column">
                    
                    <div class="left-block ">
                        <!-- <a>
                        <img src="{{ site.avatar | prepend: site.baseurl}}" class="ui small circular image"> </a>              -->
                        <div id="toc" class="ui vertical pointing secondary menu" ></div>                   
                    </div>

                    <div class="middle-block">
        		 		<header class="post-header">
        		 		  <h1 class="post-title">{{ page.title }}</h1>
        		 		  <p class="post-meta">
                            <i class="calendar icon"></i>{{ page.date | date: "%b %-d, %Y" }}
                            <i class="edit icon"></i>By {{ page.author}}
                          </p>
        		 		</header>

        		 		<article class="post-content">
        		 		  {{ content }}
        		 		</article>
                    </div>
    		</div>
    	</div>    	
    </div>
    

  </body>

</html>
